<!DOCTYPE html>
<html lang="en">

<head>
  <title>Accounts Page</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- style sheets -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css">
  <link rel="stylesheet" href="/styles/header.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/account.css" type="text/css"/>

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&family=Roboto:wght@500&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/toggle.js"></script>
  <script type="text/javascript" src="/scripts/categories.js"></script>

</head>

<body>
  <%- include ('partials/_header', {user}, {org}) %>
  <main>
    <div class="top-info">
      <div class="account-tabs">
        <h2><%=org.name%> Accounts</h2>


        <form class="search-bar" action="/accounts/search" method="GET">
          <input class="search" type="text" name="text" value="<%= keyword.keyword %>" placeholder="Search your accounts here">
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>

        <div class="tab-panel">
          <ul class="tabs">
            <li class="All">All</li>
            <li class="Social">Social</li>
            <li class="Shopping">Shopping</li>
            <li class="Email">Email</li>
            <li class="Streaming">Streaming</li>
            <li class="Education">Education</li>
            <li class="Other">Other</li>
          </ul>
        </div>
      </div>
      <div class="which-tab"></div>
    </div>

    <div class="main-container">
      <% for(let i=0; i< accounts.length; i++) { %>
        <div id="<%= accounts[i].category %>" class="cards">
          <div class="org-name">
            <h4><%= accounts[i].name %></h4>
          </div>
          <div class="site-category">
            <a class="link" href="https://<%= accounts[i].url %>" target="blank"><%= accounts[i].url %></a>
          </div>
          <div class="user-pass">
            <div class="username">
              <p>Username:</p>
              <span id="<%=i%>"><%= accounts[i].username %></span>
            </div>
            <button type="button" class="btn btn-outline-primary" onclick="copyUsernameToClickBoard('<%=i%>')">
              <span class="bi bi-clipboard"></span>
            </button>
          </div>
          <div class="password user-pass">
            <div class="pw">
              <p>Password:</p>
              <span  class="visiable-pw hide" id="i<%=i%>"><%= accounts[i].password %></span>
              <input class="hidden-pw" id="i<%=i%>" type="password" name="pass" value="<%= accounts[i].password %>" readonly>
            </div>
            <div class="pass-btn">
              <i class="fa-solid fa-eye eye-open"></i>
              <i class="fa-solid fa-eye-slash eye-closed hide"></i>
              <button type="button" class="btn btn-outline-primary" onclick="copyPasswordToClickBoard('i<%=i%>')">
                <span class="bi bi-clipboard"></span>
              </button>
            </div>
          </div>
          <div class="form-btns toggle-pw">
            <form method="GET" action="/accounts/edit/<%=accounts[i].id%>">
              <button type="submit" class="btn btn-outline-primary">Edit</button>
            </form>
            <form method="POST" action="/accounts/delete/<%=accounts[i].id%>">
              <button type="submit" class = "btn btn-outline-danger">Delete</button>
            </form>
          </div>
        </div>
      <% } %>
    </div>

    <div class="position-fixed top-0 right-0 p-3" style="z-index: 5; right: 45%; top: 2%;">
      <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
        <div class="toast-header">
          <strong class="mr-auto">Copied</strong>
        </div>
      </div>
    </div>

  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/scripts/helpers.js"></script>
</body>

</html>
